body {
    background-color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
    color: rgb(0, 0, 0);
}

.button {
    background-color: #4861ec95;
    color: white;
    padding: 10px 10px;
    border: none;
}

.button:hover {
    background-color: #5fb5dd;
}
